streamlit
python-dotenv
pysqlite3-binary; sys_platform == 'linux'
chromadb
sentence-transformers
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-openai
langchain-groq
langchain-anthropic
pypdf
docx2txt
beautifulsoup4
